
.clientLogo{
    background-color: #327AB7;
}
.inlineBlock{
    display: inline-block;
}
.inlineBlockSub{
    display: inline-block;
}


.tempBor{
    border: 1px solid #f0f0f0;
}
.marks{
    border: 1px solid black;
    border-radius: 5px;
    // padding: 10px
    padding-left: 10px;
    padding-right: 14px;
}
.fullScreen{
    background-color: rgb(147, 182, 235);
    border-radius: 5px;
    
}
.fsi{
    padding-left: 10px;
    padding-right: 14px;
    height: 30px
}
.tabButtons{
    background-color: aliceblue;
    height: auto;
    min-height: 50px;
    bottom: 0;
}

.subjectButton{
    width: 90px;
    height: 50px;
    text-align: center;
}


.activeButtonColor{
    background-color: #03c0e0;
    color: white
}
.inactiveColor{
    background-color: #cccccc;
    border: 0.3px solid #fff;
}

.listButton{
    background-color: #cccccc;
    width: 32px;
    height: 34px;
    // padding: 4px;
    margin: 10px;
    color: white;
    border: 0.5px solid #181717f0;
}
.listDiv{
    // background-color: aliceblue;
    background-color: #E3ECFB;
    padding: 10px;
}
li{
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 34px;
    vertical-align: middle;
    border-radius: 5px;
    line-height: 34px;
}

.answered{
    background-color: green;
    position: relative;
    clip-path: polygon(26% 0, 75% 0, 100% 28%, 100% 100%, 0 100%, 0 30%);
}


.notAns{
    background-color: red;
    clip-path: polygon(100% 0, 100% 74%, 69% 100%, 31% 100%, 0 74%, 0 0);

}
.marked{
    background-color: purple;
    border-radius: 45%;
}
// .visited{

// }
// .notVisited{

// }
// .markReviewed{

// }

.actions{
    background-color: rgb(147, 182, 235);
    display: inline-block;
    width: 45%;
    margin:5px;
    text-align: center;
    line-height: 35px;
    height: 35px;
}

.submitDiv{
    background-color: green;
    width: 94%;
    text-align: center;
    margin:5px;
    min-height: 30px;
    line-height: 30px;
}


.mainDiv{
    font-family: sans-serif;
}



@media (min-width: 780px){
    .marksTab{
        height: 46px;
    }
}

.directions{
    padding: 15px;
    border-right: 1px solid rgb(195, 195, 195);
    justify-content: center;
}
.ptagdir{
    font-size: 14px;
    text-align: justify;

}
p{
    font-size: 14px;
    text-align: justify;

}

.questions{
    padding: 18px;
    justify-content: center;
}

.questionNo{
    background-color: rgb(186, 208, 240);
    width: 100%;
    color: black;
    padding : 5px;
}

.ptagans{
    text-align: center;
}

.labelDiv{
    width : 100%; border : 2px solid black; position : relative;
}

.labeldivInside{
    transform : translateY(-50%); position: absolute;top : 0; left :1%; width :50px;background-color : white; text-align : center;
}